{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  Back Office- {{ parent() }}
{% endblock %}


{% block thomasbo_body %}

{% for flashMessage in app.session.flashbag.get('info') %}
    {{ flashMessage }}
{% endfor %}


<h1 class="monh3">Liste des commandes</h1>

<table class="table" style="width:100%">
  <tr>
    <th>Id</th>
    <th>Utilisateur</th> 
    <th>Date</th>
    <th>Montant</th>
    <th>Statut</th>
  </tr>
  {% for order in orders %}
    <tr>
      <td><a href="{{ path('thomas_back_office_order_view', {'id': order.id}) }}">{{ order.id }}</td>
      <td><a href="{{ path('thomas_back_office_user_view', {'id': order.user.id}) }}">
           {{ order.user.username }} 
        </a>
      </td> 

      <td>{{ order.created|date("d/m/Y") }}</td>
      <td>{{ order.amount }}</td>
      <td>{{ order.statute.name }}</td>

    </tr>
  {% endfor %}
  
</table>


{# {% if nbPages > 1 %}
  <ul class="pagination"> #}
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {# {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('thomas_back_office_orders', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %} #}

{% endblock %}