{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  Panier - {{ parent() }}
{% endblock %}


{% block thomasgame_body %}
<h1 class="monh3">Mon panier</h1>

{% if total == 0 %}
    Votre panier est vide =(
{% else %}
    <table class="table cart">
      <tr>
        <td>Id</td>
        <td>Nom</div>
        <td>Quantité</div>
        <td>Prix Unitaire</td>
        <td>Sous total</td>
        <td></td>
      </tr>
      {% for key,item in panier %}
 
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</div>
        <td>
          <a href="{{ path('thomas_game_remove_qty', {'id': key}) }}"><i class="fa fa-minus" aria-hidden="true"></i></a>         
          <span class="qty">{{ item.qty }}</span>
          <a href="{{ path('thomas_game_add_qty', {'id': key}) }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
        <td>{{ item.unitPrice|number_format(2) }} €</td>
        <td>{{ item.price|number_format(2) }} €</td>
        <td><a href="{{ path('thomas_game_delete', {'id': key}) }}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
      </tr>
      {% endfor %}
    </table>  


    
  <div class="cart-total">
    total : {{ total|number_format(2) }} €
  </div>
  <div>
    <a href="{{ path('thomas_game_remove') }}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Vider le panier</a>
  </div>
  
  <div class="cart-valid">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


    <a href="{{ path('thomas_game_order') }}" class="btn btn-success">Passer commande</a>
    {% else %}
    Vous devez être enregistré pour passer commande
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        <p>Nouveau ?<a href="{{ path('fos_user_registration_register') }}">Rejoignez-nous !</a></p>
    {% endif %}
  </div>

{% endif %}



{% endblock %}

