{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  La base dthdth- {{ parent() }}
{% endblock %}


{% block thomasbo_body %}
<h1>Liste des produits</h1>

<table style="width:100%">
  <tr>
    <th>Référence</th>
    <th>Nom du produit</th> 
    <th>Categorie</th>
    <th>Marque</th>
    <th>Prix</th>
    <th>Console</th>
  </tr>
  {% for product in products %}
    <tr>
      <td>{{ product.reference }}</td>
      <td><a href="{{ path('thomas_back_office_product_view', {'id': product.id}) }}">
          {{ product.name }}
        </a>
      </td> 
      <td>{{ product.categoryId }}</td>
      <td>{{ product.brandId }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.systemId }}</td>
    </tr>
  {% endfor %}
  
</table>



{% endblock %}