{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  Back Office- {{ parent() }}
{% endblock %}

{% block myfilter %}
{{ include("ThomasBackOfficeBundle:Product:form.html.twig") }}
{% endblock %}
{% block thomasbo_body %}

{% for flashMessage in app.session.flashbag.get('info') %}
    {{ flashMessage }}
{% endfor %}



<h1 class="monh3">Liste des produits</h1>

<table class="table" style="width:100%">
  <tr>
    <th>Id</th>
    <th>Nom du produit</th> 
    <th>Categorie</th>
    <th>Marque</th>
    <th>Prix</th>
    <th>Console</th>
  </tr>
  {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td><a href="{{ path('thomas_back_office_product_view', {'id': product.id}) }}">
          {{ product.name }}
        </a>
      </td> 
      <td>
      {% if product.productCategory is not null %}
        {{ product.productCategory.name }}
      {% endif %}
      </td>
      <td>
      {% if product.brand is not null %}
        {{ product.brand.name }}
      {% endif %}
      </td>
      <td>{{ product.price }}</td>
      <td>
      {% if product.system is not null %}
        {{ product.system.name }}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  
</table>


<p>
  <a href="{{ path('thomas_back_office_product_add') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Ajouter un produit
  </a>
  
</p>
{% endblock %}