{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  Back Office - {{ parent() }}
{% endblock %}



{% block thomasbo_body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
{% endfor %}

<h1 class="monh3">{{ product.name }}</h1>

<div>{{ product.price }} €</div>
<div>
{% if product.productImage is not null %}
  <img src="{{ asset(product.productImage.webPath) }}" alt="{{ product.productImage.alt }}"/>
  {% endif %}
</div>

<p>
  <a href="{{ path('thomas_back_office_product_index', {'page': 1}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste
  </a>
  <a href="{{ path('thomas_back_office_product_edit', {'id': product.id}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-edit"></i>
    Modifier le produit
  </a>
  <a href="{{ path('thomas_back_office_product_delete', {'id': product.id}) }}" class="btn btn-danger">
    <i class="glyphicon glyphicon-trash"></i>
    Supprimer le produit
  </a>
</p>
{% endblock %}