{# src/OC/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Project Games{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">
      
    {% endblock %}
  </head>

  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      {# {% if setting.image is not null %} #}
        {# <img src="{{ asset(setting.image.webPath) }}" alt="{{ setting.image.alt }}"/> #}
      {# {% endif %} #}
      {{ render(controller("ThomasGameBundle:Product:setting")) }}
      <p>
        Retrouvez vos anciennes consoles et vieux jeux vidéos et retrouver des sensations perdues
      </p>
      
    </div>

    <div class="row">
        {% block search %}
        {% endblock %}
      <div id="menu" class="col-md-3">

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>
    -
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>

    <p>Nouveau ?<a href="{{ path('fos_user_registration_register') }}">Rejoignez-nous !</a></p>
{% endif %}
<p>Voir mon <a href="{{ path('thomas_game_cart') }}">panier</a></p>
        
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('thomas_game_games') }}">Jeux Videos</a></li>
          <li><a href="{{ path('thomas_game_systems') }}">Consoles</a></li>
          <li><a href="{{ path('thomas_game_access') }}">Accessoires</a></li>
        
        </ul>

        {% block myfilter %}
        {% endblock %}
        {# <h3>Les annonces</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('thomas_platform_home') }}">Accueil</a></li>
          {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('thomas_platform_add') }}">Ajouter une annonce</a></li>
          {% endif %}
        </ul> #}

        {# <h4>Dernières annonces</h4>
        {{ render(controller("ThomasPlatformBundle:Advert:menu", {'limit': 3})) }} #}
        
        
        <hr>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('thomas_back_office_homepage') }}">Back Office</a>
        {% endif %}


      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>Thomas AUJEAN © {{ 'now'|date('Y') }}</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

  </body>
</html>
