{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  Back Office - {{ parent() }}
{% endblock %}



{% block thomasbo_body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
{% endfor %}

<h1 class="monh3">Utilisateur {{ user }}</h1>

<div class="row">
  <div class="col-md-6">
    <p>Nombre de commandes : {{ nb }}</p>
    <p>Argent dépensé : {{ total }} €</p>
  </div>
  <div class="col-md-6">
    {{ include("ThomasBackOfficeBundle:Product:form.html.twig") }}
  </div>
</div>



<p>
  <a href="{{ path('thomas_back_office_orders') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste des commandes
  </a>
</p>
<p>
  <a href="{{ path('thomas_back_office_users') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste des utilisateurs
  </a>
</p>
{% endblock %}