{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}


{% block thomasgame_body %}
<h1>Nos jeux</h1>

  <div class="row">
  {% for product in listGames %}


    <div class="col-md-3">
    <a href="{{ path('thomas_game_view', {'id': product.id}) }}">
          {% if product.productImage is not null %}
          <img src="{{ asset(product.productImage.webPath) }}" alt="{{ product.productImage.alt }}" style="width:100%;max-height:200px"/>
          {% endif %}
       
      {{ product.name }} - {{ product.price }} €
    </a>
      {% if product.productCategory is not null %}
        <div>Catégorie - {{ product.productCategory.name }}</div>
      {% endif %}

      {% if product.system is not null %}
        <div>Console - {{ product.system.name }}</div>
      {% endif %}

      <a>Ajouter au panier</a>
    </div>



  {% endfor %}
  
</div>


{% endblock %}

