{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  Votre note - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
{% endfor %}

<h3 class="monh3">Votre note</h3>

<p>Combien d'étoiles donnez vous à {{ product.name }} ?</p>
<div class="star">

  <a href="{{ path('thomas_rate_add', {'id': product.id, 'rate': 1}) }}">
    <i class="fa fa-star " id="one" aria-hidden="true"></i>
  </a>
  <a href="{{ path('thomas_rate_add', {'id': product.id, 'rate': 2}) }}">
    <i class="fa fa-star " id="two" aria-hidden="true"></i>
  </a>
  <a href="{{ path('thomas_rate_add', {'id': product.id, 'rate': 3}) }}">
    <i class="fa fa-star " id="three" aria-hidden="true"></i>
  </a>
  <a href="{{ path('thomas_rate_add', {'id': product.id, 'rate': 4}) }}">
    <i class="fa fa-star " id="four" aria-hidden="true"></i>
  </a>
  <a href="{{ path('thomas_rate_add', {'id': product.id, 'rate': 5}) }}">
    <i class="fa fa-star " id="five" aria-hidden="true"></i>
  </a>

</div>

{% endblock %}

