{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<div class="row">

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

{{ form_errors(form) }}

<div class="col-md-6">
{{ form_row(form.name) }}
</div>
 
  <div class="col-md-6"> {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}</div>
  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>