{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}

{% block search %}
{{ include("ThomasGameBundle:Product:form.html.twig") }}
{% endblock %}
{% block thomasgame_body %}
<h1>page des consoles</h1>

{# {% if test is not null %}
{% for t in test %}
iciiii
        {{ t.id }}
  {% endfor %}
{% endif %} #}

<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Nom du produit</th> 
    <th>Categorie</th>
    <th>Marque</th>
    <th>Prix</th>
    <th>Console</th>
  </tr>
  {% for product in listSystems %}
    <tr>
      <td>{{ product.id }}</td>
      <td><a href="{{ path('thomas_game_view', {'id': product.id}) }}">
          {{ product.name }}
        </a>
      </td> 
      <td>
      {% if product.productCategory is not null %}
        {{ product.productCategory.name }}
      {% endif %}
      </td>
      <td>
      {% if product.brand is not null %}
        {{ product.brand.name }}
      {% endif %}
      </td>
      <td>{{ product.price }}</td>
      <td>
      {% if product.system is not null %}
        {{ product.system.name }}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  
</table>

{% endblock %}

