{% extends "ThomasGameBundle::layout.html.twig" %}

{% block metadesc %}
<meta name="description" content="{{ product.name }} - Project Game" />
{% endblock %}

{% block title %}
  {{ product.name }} - {{ parent() }}
{% endblock %}


{% block thomasgame_body %}


  <h2 class="monh3">{{ product.name }}</h2>

  <div class="row">
    <div class="col-md-6">
    {% if product.productImage is not null %}
      <img src="{{ asset(product.productImage.webPath) }}" alt="{{ product.productImage.alt }}" style="width:100%"/>
      {% endif %}
    </div>
    <div class="col-md-6">
      {% if product.system is not null %}
      <div class="row">
        <div class="col-md-6">Console</div>
        <div class="col-md-6">{{ product.system.name }}</div>
      </div>
      {% endif %}
      {% if product.editor is not null %}
      <div class="row">
        <div class="col-md-6">Editeur</div>
        <div class="col-md-6">{{ product.editor.name }}</div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-6">Prix</div>
        <div class="col-md-6">{{ product.price }} €</div>
      </div>
    </div>
    <div class="product-add">  
      <a href="{{ path('thomas_game_add', {'id': product.id}) }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        Ajouter au panier</a>
    </div>
    <div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('thomas_game_rate', {'id': product.id}) }}">Donnez-lui une note</a>
    {% endif %}
    </div>

  </div>

   


  {% if product.productCategory.id != 2 %}
  <h2 class="monh3">Ces produits pourraient vous intéresser</h2>
    {{ render(controller("ThomasGameBundle:Product:suggestion", {'filter': product.system.id, 'id' : product.id, 'limit': 3})) }}
  {% else %}
    {# {{ render(controller("ThomasGameBundle:Product:suggestion", {'filter': product.system.id, 'limit': 3})) }} #}
  {% endif %}
{% endblock %}

