{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}


{% block thomasgame_body %}
<h1>page view</h1>


<h1>{{ product.name }}</h1>

<div>{{ product.price }} €</div>
<div>
{% if product.productImage is not null %}
  <img src="{{ asset(product.productImage.webPath) }}" alt="{{ product.productImage.alt }}"/>
  {% endif %}
</div>

{% endblock %}

