{% extends "ThomasGameBundle::layout.html.twig" %}



{% block title %}
  Mes Commandes - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}

<h1 class="monh3">Liste des commandes</h1>

<table class="table" style="width:100%">
  <tr>
    <th>Référence</th>
    <th>Date</th>
    <th>Montant</th>
    <th>Statut de la commande</th>
  </tr>
  {% for order in orders %}
    <tr>
      <td><a href="{{ path('thomas_game_user_order', {'id': order.id}) }}">{{ order.id }}</td>


      <td>{{ order.created|date("d/m/Y") }}</td>
      <td>{{ order.amount }} €</td>
      <td>{{ order.statute.name }}</td>

    </tr>
  {% endfor %}
  
</table>


{% endblock %}