{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  Ma commande - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}

<h1 class="monh3">Commande n° {{ order.id }} passée le {{ order.created|date("m/d/Y") }}</h1>
    <table class="table">
      <tr>
        <td>Id</td>
        <td>Nom</div>
        <td>Quantité</div>
        <td>Prix Unitaire</td>
        <td>Sous total</td>
      </tr>
      {% for key,item in cart %}
 
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</div>
        <td>     
          {{ item.qty }}
        </div>
        <td>{{ item.unitPrice }} €</td>
        <td>{{ item.price }} €</td>
      </tr>
      {% endfor %}
  </table>  

<div>Remise : {{ order.coupon }} %</div>
<div>Total : {{ order.amount }}</div>


<a href="{{ path('thomas_user_pdf', {'id': order.id}) }}" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-left"></i>
  PDF
</a>

{% endblock %}