{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}


{% block thomasgame_body %}
<h1>Récapitulatif</h1>

<h3>  Ma commande</h3>
{% if total == 0 %}
    Votre panier est vide =(
{% else %}
    <table class="table cart">
      <tr>
        <td>Id</td>
        <td>Nom</div>
        <td>Quantité</div>
        <td>Prix Unitaire</td>
        <td>Sous total</td>
      </tr>
      {% for key,item in panier %}
 
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</div>
        <td>       
          {{ item.qty }}
        </td>
        <td>{{ item.unitPrice }} €</td>
        <td>{{ item.price }} €</td>
      </tr>
      {% endfor %}
  </table>  

<div class="cart-total">

  total : {{ total }} €

  {% if app.session.get('coupon') %}
    <div>
      Avec réduction de {{ app.session.get('coupon') }} %, soit {{  subs }} €
    </div>
    <div>
      Nouveau total {{ total - subs }} €
    </div>

  {% endif %}
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
  
    <h3>Mes infos</h3>
    <div>
      <div>
        Nom - {{ app.user.username }}
      </div>
      <div>
        Adresse - {{ app.user.address }}
      </div>
      <div>
        Code postal - {{ app.user.zipcode }}
      </div>
      <div>
        Ville - {{ app.user.city }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
  {% if app.session.get('coupon') %}
        {% else %}
          <h3>Vous avez un code promo ?</h3>
          {{ include("ThomasBackOfficeBundle:Product:form.html.twig") }}
        {% endif %}
  </div>
</div>

    <div>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <a href="{{ path('thomas_game_valid') }}" class="btn btn-success">Valider ma commande</a>
      {% else %}
        Vous devez être enregistré pour passer commande
          <a href="{{ path('fos_user_security_login') }}">Connexion</a>
          <p>Nouveau ?<a href="{{ path('fos_user_registration_register') }}">Rejoignez-nous !</a></p>
      {% endif %}
    </div>



{% endif %}

{% endblock %}

